{{ define "index" }}
{{$PageData := index .DeepDataMerge.Templates .PageURL}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sameer Manvi | Portfolio</title>
    <link rel="stylesheet" href="/static/css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <script defer src="/static/scripts/tech_pills.js"></script>
</head>

<body>

    <header id="header">
        <h1>Sameer Manvi</h1>
        <div class="social-buttons">
            <a href="https://www.linkedin.com/in/sameermanvi" target="_blank" class="social-button"
                aria-label="LinkedIn">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="https://github.com/sameermanvi" target="_blank" class="social-button" aria-label="GitHub">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="/static/cv.pdf" target="_blank" class="social-button" aria-label="CV">
                <i class="fa-solid fa-file-pdf"></i>
            </a>
            <a href="https://unsplash.com/@sameermanvi" target="_blank" class="social-button" aria-label="Unsplash">
                <i class="fa-brands fa-unsplash"></i>
            </a>
        </div>
    </header>

    {{$PageData.Body}}

    <footer>
        <p>&copy; 2025 Sameer Manvi | Rendered with <a style="color: white; text-decoration: underline;"
                href="https://github.com/anna-ssg/anna" target="_blank">Anna</a></p>
    </footer>

</body>

</html>
{{ end }}