{{ define "post" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Frontmatter.Title }} | Sameer Manvi</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="container">
        <nav>
            <a href="/index.html">Home</a>
            <a href="/posts.html">Posts</a>
            <a href="/clicks.html">Clicks</a>
            <a href="/static/cv.pdf">CV</a>
        </nav>

        <header>
            <h1>{{ .Frontmatter.Title }}</h1>
            <p class="meta">
                <span class="date">{{ .Frontmatter.Date }}</span>
                {{ range .Frontmatter.Tags }}
                <a href="/tags/{{ . }}.html" class="tag">#{{ . }}</a>
                {{ end }}
            </p>
        </header>

        <main class="post-content">
            {{ .Body }}
        </main>

        <footer>
            Copyright 2025 | Rendered with <a href="https://github.com/anna-ssg/anna" target="_blank">Anna</a>
        </footer>
    </div>
</body>

</html>
{{ end }}